<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="navContainer">
      <header>
<!--        <img src="img/jetStream_logo_header.png"> -->
        <a href="{{ site.github.url }}/"><img class="center-block" src="{{ site.github.url }}/img/jetStream_logo_92.png"></a>
      </header>
      <nav>
      <a href="{{ site.github.url }}/">JetStream</a>
      <a href="{{ site.github.url }}/news">News</a>
      <a href="{{ site.github.url }}/gettingstarted">Getting Started</a>
      <a href="{{ site.github.url }}/documentation">Documentation</a>
      <a href="{{ site.github.url }}/downloads">Downloads</a>
      <a href="{{ site.github.url }}/publications">Publications</a>
      </nav>      
      <div class="sponsor">
	sponsors<br />
        <a href="https://www.manchester.ac.uk"><img src="{{ site.github.url }}/img/uniManchester.png"></a><br />
        <a href="https://www.gov.uk/dstl"><img src="{{ site.github.url }}/img/dstl_height.png"></a>
     </div>
     <div class="spacer">
     </div>
     <footer>
        <a href="{{ github.url }}/contact">Contact</a>
      </footer>
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>